@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  direction: rtl;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Keep numbers LTR */
.number {
  direction: ltr;
  display: inline-block;
}
